:root {
  --main: #a388b5; 
  --top-button: #582678;
  --background: #f1f1f1 ;
  --white-font: #f1f1f1 ;
  --btn-color: #00cece;
  --search-background: #ffc600;
  --font:#414142 ;
  /* background-color: var(--main-bg-color); */
  }
    *{
    box-sizing: border-box;
    }
    
    body {
    background-color: var(--background);
    margin: 0;
    padding-top: 70px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }
    .container-container{
        height: 71.8vh;
    }
    .container{
        display: flex;
        justify-content: center;
        
    }
    
    .the-heading-three{
        color: var(--main-bg-color);
        font-weight: 400;
    }
    .panel-box{
        border: 1px solid lightgray;
        padding: 25px;
        display: flex;
        justify-content: center;
    }
    
    .h2, h2 {
        font-size: 30px;
        font-weight: 400;
        color: var(--top-button);
    }
    .text-center{
        text-align: center;
    }
    
    .input-group-addon {
        padding: 12px 12px;
        font-size: 14px;
        font-weight: 400;
        color: var(--top-button);
        text-align: center;
        background-color: var(--background);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .input-group-addon:first-child {
        border-right: 0;
    }
    .glyphicon {
        position: relative;
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        
    }
    .glyphicon-password:before {
        content: "E \2713";
        margin-bottom: 0;
    }
    .glyphicon-password-two:before {
      content: "C \2714";
      margin-bottom: 0;
  }
    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
         .form-group{
            display: flex;
        justify-content: center; 
         }
         
         .form-control {
        display: block;
        width: 80%;
        position: relative;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        display: table;
        border-collapse: separate;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 12px 12px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: var(--background);
        background-clip: padding-box;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid var(--top-button);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-bottom: 10px;
      }
      .form-control:focus {
        color: #495057;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
      
      .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529; 
      width: 80%;
      margin-bottom: 10px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn:focus, .btn.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .btn-primary {
      color: #fff;
      background-color: var(--btn-color);
      border-color: var(--btn-color);
    }
    
    .btn-primary:hover {
      color: #fff;
      opacity: .5;
    }
    
    .btn-primary:focus, .btn-primary.focus {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
    
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
    .back-to-login{
        text-decoration: none;
    }
    .back-to-login:hover{
        text-decoration: underline;
    }
    
    hr { 
      display: block;
      margin-top: 40px;
      width: 80%;
      margin-bottom: 40px;
      border-style: inset;
      border-width: 1px;
    } 
    
    /* Footer Section */
    .forum-footer { 
          grid-area: forFoot; 
        background-color: var(--main); 
          height: 50px;
          margin-top: 10px;
          color: snow;
          display: flex;
          justify-content: center;
          z-index: 1;
      }
      
      .footer{
        display: grid;
        grid-template-areas:
          'forFoot forFoot forFoot forFoot forFoot forFoot';
        background-color: var(--primary-color); 
      }
      .foot{
        margin-top: 15px; 
      }
    