:root{
    --ck-ui-component-min-height: 2em !important;
  }
*{
    box-sizing: border-box;
}
body{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}
